.App {
  text-align: center;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
  font-weight: normal;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.10rem;
  font-weight: normal;
}
h4 {
  font-size: 0.875rem;
}
p {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
  font-weight: normal;
}
.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 16px;
}
.single-container{
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
  background-color: #fff; 
}
.single-container:hover {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.2);
}
.product-info {
  flex: 1;
}
.product-image{
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
} 
.product-name{
  margin: 5px;
}

.add-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}